.project-wrapper {
	width: min(900px, 100%);
	margin: auto;
	padding: 2rem;
}

.project-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.project-name {
	font-size: 2rem;
	font-weight: 500;
}
